@tailwind base;
@tailwind components;
@tailwind utilities;


/* Social Media Sidebar */
/* https://freefrontend.com/css-social-media-icons/ */
a {
    color: #fff;
    text-decoration: none;
  }

  .social {
    position: fixed;
    top: 10px;
  }

  .social ul {
    padding: 0px;
    transform: translate(-270px, 0);
  }

  .social ul li {
    display: block;
    background: #fffd2d;
    width: 280px;
    text-align: right;
    padding: 8px;
    margin: 40px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }

  .social ul li:hover {
    transform: translate(110px, 0);
    background: #fffd2d;
    /* opacity: 0.7; */
  }

  #email_tag:hover {
    transform: translate(200px, 0);
    background: #fffd2d;
    /* opacity: 0.7; */
  }

  #phone_tag:hover {
    transform: translate(130px, 0);
    background: #fffd2d;
    /* opacity: 0.7; */
  }

  .social ul li:hover a {
    color: #000;
  }

  .social ul li:hover i {
    color: #4f6beb;
    background: white;
    transform: rotate(360deg);
    transition: all 1s;
  }

  .social ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    transform: rotate(0deg);
  }
  

/* Phone copy display */
/* ChatGPT */
.popup {
  position: absolute;
  padding: 1rem;
  background-color: #fffd2d;
  color: black;
  border-radius: 0.5rem;
  z-index: 50;
}


/* Services hover feature */
/* https://www.youtube.com/watch?v=lnFfsP5EKf8&list=LL&index=2&t=100s */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');


#services_info:hover #card
{
  filter: blur(5px);
  transform: scale(.7);
}

#services_info {
  position: relative;
}

#services_info #card
{
  transition: 0.5s;
}

#services_info #card:hover
{
  filter: blur(0px);
  transform: scale(1);
  background: rgba(255, 255, 255, 0.1);
}

#services_info #card:before
{
  content: '';
  position: absolute;
  z-index: 1;
  transition: 0.5s;
}

#services_info #card:hover:before
{
  transform: scaleY(1.15);
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

#services_info #card:hover:after
{
  transform: scaleY(1.15);
}

#services_info #card:hover
{
  z-index: 1;
}

#services_info img {
  margin-top: 15px;
}

#services_info button {
  padding: 5px;
  background-color: #fffd2d;
  color: #000;
  cursor: pointer;
  border-radius: 5%;
  margin-bottom: 15px;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 760px) {
  #read_more_btn_01, #read_more_btn_02, #read_more_btn_03, #read_more_btn_04 {
    
  }
}